<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="row navbar navbar-inverse twitter-btn">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #FFFFFF">
                <i class="fab"><img src="https://i.imgur.com/KsPpv1v.png" /></i>Flapper!</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                <li><a style="color: #FFFFFF" href="/main">Home</a></li>
<!--                <li><a style="color: #FFFFFF" href="/tweets/new">New Flap</a></li>-->
<!--                <li><a style="color: #FFFFFF" href="/users/">Users</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><a style="pointer-events: none;color: #00aced">
                    @<span sec:authentication="name"></span></a>
                <li sec:authorize="isAuthenticated()"><a style="color: #FFFFFF" href="../logout">Logout</a></li>
                <li sec:authorize="!isAuthenticated()"><a style="color: #FFFFFF" href="../login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>