<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<form class="form" th:action="@{/product}" th:object="${product}" method="post">
    <h2 class="form-heading" style="text-align: center">Add a new Product</h2>
    <!--Name-->
    <p>
        <label for="name" class="sr-only">Product Name</label>
        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
               class="validation-message"></label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Product Name"
               th:field="*{name}">
    </p>
    <!--Description-->
    <p>
        <label for="description" class="sr-only">Description</label>
        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
               class="validation-message"></label>
        <input type="text" id="description" name="description" class="form-control" placeholder="Product Description"
               th:field="*{description}">
    </p>
    <!--Category-->
    <p>
        <label for="category" class="sr-only">Category</label>
        <label th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
               class="validation-message"></label>
        <input type="text" id="category" name="category" class="form-control" placeholder="Category"
               th:field="*{category}">
    </p>
    <!--Image-->
    <p>
        <label for="category" class="sr-only">Product Image</label>
        <label th:if="${#fields.hasErrors('image')}" th:errors="*{image}"
               class="validation-message"></label>
        <input type="text" id="image" name="image" class="form-control" placeholder="Product Image URL"
               th:field="*{image}">
    </p>
    <!--Quantity-->
    <p>
        <label for="quantity" class="sr-only">Quantity</label>
        <label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
               class="validation-message"></label>
        <input type="text" id="quantity" name="quantity" class="form-control" placeholder="Quantity"
               th:field="*{quantity}">
    </p>


    <div style="display: flex; justify-content: space-between">
        <button class="btn btn-lg btn-primary" name="submit" value="add" type="submit"
        >
            Add Product
        </button>
    </div>
</form>
</body>
</html>